{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="iframe.css">
{% endblock %}

{% block body %}
    <style>
        {% block style %}

        {% endblock %}
    </style>
    {% block content %}{% endblock %}
{% endblock %}
