{% macro blockDetails(props) %}
    <div class='piece'>
        <h2 class="title">{{ props.title1 }}
            <br>
            {{ props.title2 }}</h2>
        <iframe class="content" src="./{{ props.index }}.html" frameborder="0" height="0"></iframe>

    </div>
{% endmacro %}


{% macro blockClass(props) %}
    <h1 class="title">{{ props.title }}</h1>
    <div class="content" data-dynamic>
        {% for d in props.details %}
            {{ blockDetails(d) }}
        {% endfor %}
    </div>
{% endmacro %}


{% macro parsedContent(content) %}
    {% for c in content %}
        {{ blockClass(c) }}
    {% endfor %}
{% endmacro %}
