iframe {
  width: 100%;
}

.inline {
  display: inline;
  border: 1px solid lightgray;
}

.inblock {
  display: inline-block;
  border: 1px solid lightblue;
}

.block {
  display: block;
  border: 1px solid lightcoral;
}

.flex {
  display: flex;
  border: 1px solid lightseagreen;
}

.float {
  float: left;
  border: 1px solid lightpink;
}

.clear {
  clear: both;
}

.auto-size {
  width: auto;
  height: auto;
  outline: 1px solid greenyellow;
}

.fixed-size {
  width: 100px;
  height: 100px;
  outline: 1px solid gray;
}

.fixed-size.center-parent {
  width: 500px;
  height: 200px;
}

/* --- piece --- */

.piece .content {
  transition: 0.3s;
  height: 0;
  overflow: auto;
}

.piece .prompt {
  display: inline-block;
}

.piece .title-name {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
